In [1]:
import pandas as pd

In [2]:
data_path = 'assets/datasets/findsum/text-20230510T070655Z-001/text/FINDSum-Liquidity/liquidity_input_2000/'

train_path = 'train_liquidity_segment_0_input_2_1000.csv'
test_path = 'test_liquidity_segment_0_input_2_1000.csv'
val_path = 'val_liquidity_segment_0_input_2_1000.csv'

In [3]:
train_df = pd.read_csv(data_path+train_path)
test_df = pd.read_csv(data_path + test_path)
val_df = pd.read_csv(data_path + val_path)

In [4]:
train_df.head()

,document,summary
0,gross profit for plant nutrition north america...,capital resources we believe our primary sourc...
1,"the european commission , or ec , has granted ...",liquidity and capital resources from our incep...
2,in 2012 the fulfill program generated $ 1.4 mi...,liquidity and capital resources cash flows pro...
3,combined sales to academic and governmental cu...,cash flow from operating activities net cash p...
4,the timing and amount of these investments var...,cash flows the following table sets forth data...

In [5]:
train_df.shape, test_df.shape, val_df.shape

((16538, 2), (2067, 2), (2067, 2))

In [6]:
# # split dataset
# from sklearn.model_selection import train_test_split

# # Assume your dataframe is stored in a variable called `df`
# train_data, test_data = train_test_split(train, test_size=0.2, random_state=42)
# train_data, val_data = train_test_split(train_data, test_size=0.2, random_state=42)

In [7]:
sample_train = train_df.iloc[:2500]
sample_test = test_df.iloc[:200]
sample_val = val_df.iloc[:200]

In [8]:
sample_train.shape, sample_test.shape, sample_val.shape

((2500, 2), (200, 2), (200, 2))

In [9]:
sample_train.head()

,document,summary
0,gross profit for plant nutrition north america...,capital resources we believe our primary sourc...
1,"the european commission , or ec , has granted ...",liquidity and capital resources from our incep...
2,in 2012 the fulfill program generated $ 1.4 mi...,liquidity and capital resources cash flows pro...
3,combined sales to academic and governmental cu...,cash flow from operating activities net cash p...
4,the timing and amount of these investments var...,cash flows the following table sets forth data...

In [10]:
sample_test.head()

,document,summary
0,"million from the issuance of 4,419,641 shares ...",source and uses of cash 65 our primary sources...
1,we continue to be optimistic about our growth ...,liquidity and capital resources overview our p...
2,usa today network ventures was designed to cel...,loss on early extinguishment of debt : for the...
3,"· changes in the financial condition , results...",liquidity we are required to have enough cash ...
4,our customers ' usage of our websites increase...,liquidity our principal internal sources of li...

In [11]:
sample_val.head()

,document,summary
0,the services were initially provided for a fee...,cash flow net cash used in operating activitie...
1,the pandemic has created challenges for conduc...,cash flows the following table summarizes the ...
2,"when comparing fiscal 2014 to fiscal 2013 , th...","debt transactions on december 23 , 2014 , the ..."
3,a managed reit 's average total market capital...,"cash flows fiscal year ended september 30 , 20..."
4,the tactical communications products business ...,cash flows and general business matters the fo...

In [24]:
sample_train.to_csv('assets/datasets/sample_findsum/sample_findsum_train.csv', index=False)
sample_test.to_csv('assets/datasets/sample_findsum/sample_findsum_test.csv', index=False)
sample_val.to_csv('assets/datasets/sample_findsum/sample_findsum_val.csv', index=False)